.main {
    width: fit-content;
    margin: 48px auto 0;

    display: grid;
    grid-template-columns: 1fr 24px 1fr;
    row-gap: 10px;
}

.spec_row{
    display: contents;
}

.name {
    grid-column: 1;

    text-align: right;
    font-weight: 100;
}

.value {
    grid-column: 3;

    color: var(--muted);
    font-weight: 300;
}